<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginform</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h2>loginform</h2>
<hr/>
<form action="/login" method="post">
<input type="text" name="username" placeholder="Username"/>
<br/>
<input type="password" name="password" placeholder="Password"/>
<br/>
  <button>로그인</button>
</form>
<a href="javascript:;" class="btn_social" data-social="facebook">페이스북 로그인</a><br/>
<script>
    let socials = document.getElementsByClassName("btn_social");
    for (let social of socials) {
        social.addEventListener('click',function () {
            let socialType = this.getAttribute('data-social');
           /* $.ajax({
                url: "oauth2/authorization/" + socialType,
                type:"get",
                success: function (data){
                    console.log(data)
                }
            })*/
            location.href = "/oauth2/authorize/" + socialType;
        })
    }
</script>
    <a href="/joinform">회원가입 하기</a>

</body>
</html>